@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <center><h1 style="color: steelblue; margin-top: 10%">Welcome to Trello Project Management System!</h1></center>
    <center>
        <p class="lead">Trello is the ultimate project management tool. Start up a board in seconds, automate tedious tasks, and collaborate anywhere, even on desktop.</p>
        @if (!User.Identity.IsAuthenticated)
        {
        <h4 style="padding-top: 90px; padding-bottom:200px">@Html.ActionLink("Login", "Login", "Login") to start using Trello!</h4>
        }
    </center>
   
   
</div>

